<h1>sign in here</h1>

<body>
    <form action="signup_page" method="post">
        {% csrf_token %} 
        your first name:<br>
        <input type="text" placeholder="first name" name="first_name"><br><br>
         last name :<br><input type="text" placeholder="last name" name="last_name"> <br><br>
         username :<br><input type="text" placeholder="user name" name="username"><br>       
        *your username should be unique<br><br> 
        your email :<br><input type="email" placeholder="email" name="email"><br> 
        *enter valid email to get otp<br><br> 
        create password:<br><input type="text" placeholder="password" name="password1"><br><br> re-enter
        pass :<br><input type="text" placeholder="password" name="password2"><br><br>
        <button type="submit">SIGN IN</button>
    </form>
</body>

{%if messages%}
{%for message in messages%}
<script>alert('{{message}}')</script>
{%endfor%}
{%endif%}